{% extends 'index.html' %}
{% block title %}
Create
{% endblock %}
{% block content %}
<form action="{% url 'post_create_url' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <form class="form-group">
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
            {{ field.label }}
            {{ field }}

        </div>
        {% endfor %}
        <button type="submit" name="button" class="btn btn-primary">Create Post</button>
    </form>
{% endblock %}